html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}
main {
  flex: 1;
  padding: 20px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;
  margin-bottom: 40px;

  background: linear-gradient(135deg, #f5f5f5, #eaeaea);
  border-bottom: 1px solid #ddd;
}
.TituloHEADER {
  font-size: 2.8em;
  font-weight: 700;
  letter-spacing: -1px;
  color: #222;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 120px;
}
#Formdebusca {
  display: flex;
  align-items: center;

  padding: 4px 10px;
  border-radius: 30px;
  border: 1px solid #ccc;

  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: border 0.3s ease, box-shadow 0.3s ease;
}

#ButtonBuscar {
  color: black;
  border: none;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
}
#InputBuscar {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 0px;
  font-size: 16px;
}

#InputBuscar::placeholder {
  color: #999;
}
.footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #666;
}

.Fotocomgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.GridFotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 90%;
}

.CardFoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.CardImagem {
  width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s;
}

.NomedaFoto {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  margin: 0;

  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  font-size: 16px;
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}
.MensagemVazia {
  grid-column: 1 / -1; /* ocupa todas as colunas */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-top: 150px;
}

.CardImagem:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

.CardFoto:hover .NomedaFoto {
  opacity: 2;
}

.CardFoto:hover .CardImagem {
  transform: scale(1.05);
}

.TituloHEADER:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .NomedaFoto {
    opacity: 1;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3),
      transparent
    );
  }
}

@media (max-width: 768px) {
  .GridFotos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .GridFotos {
    grid-template-columns: 1fr;
  }
}
